body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    color: white;

}

.form-google {
    position: absolute;
    display: none;
}

.form-respondi {

}

.logo {
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    background-color: #25D6C3;
}

.botao-lateral {
    border: none;
    background: none;
    color: white;
    display: none;
}

.menu-lista {
    text-decoration: none;
    list-style: none;
    display: flex;

}

.meunu-item {
    color: white;
    text-decoration: none;
    list-style: none;
    padding: 1em;
}

a {
    color: white;
    text-decoration: none;
    padding: 1em;
    }



.botao-um {
    cursor: pointer;
    padding: 50px;
    color: #003B71;
    border: none;
    padding: 20px;
    border-radius: 30px;
}

.botao-dois {
    cursor: pointer;
    background-color: #004DA8;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 30px;
}

.texto-principal {
    font-size: 25px;
    padding-left: 50px;
}

h1 {
    color: white;
}

.texto-dois {
    color: white;
}

.botao-tres {
    font-size: 16px;
    font-weight: bold;
    background-color: #EF6332;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 30px;
    width: 300px;
    cursor: pointer;
}


.section-principal {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    background-image: url(lines\ dobra\ 1.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #25D6C3;
}

.texto-tres {
    font-size: 32px;
    margin-top: 0;
    color: white;

}

.section-dois {
    background-color: #004DA8;
    margin-top: 0;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.card-dois {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 500px;
    gap: 2em;
}

.text-card {
    font-size: 18px;
    line-height: 1.5em;

}

.card-dois-item {
}

.section-tres {
    background-image: url(Modo_de_isolamento.png);
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.section-tres-item {
    padding: 2em;
}

.texto-quatro {
    color: black;
    font-weight: bold;
    font-size: 32px;
}

.legenda-quatro {
    color: black;
    font-size: 30px;
}

.bt-quatro {
    background-color: #003B71;
    color: white;
    padding: 15px;
    width: 565px;
    border-radius: 15px;
    border: none;
    font-size: 30px;
    text-align: left;
    height: 73px;
}

.bt-cinco {
    background-color: #003B71;
    color: white;
    padding: 15px;
    width: 795px;
    border-radius: 15px;
    border: none;
    font-size: 30px;
    text-align: left;
    height: 73px;
}

.bt-seis {
    background-color: #003B71;
    color: white;
    padding: 15px;
    width: 795px;
    border-radius: 15px;
    border: none;
    font-size: 30px;
    text-align: left;
    height: 106px;
}

.section-quatro {
    background-color: #1CF2DB;

}

.section-quatro-item {
}

.text-cinco {
    font-size: 30px;
}

.card-tres {
    padding-top: 200px;
}

.bt-card-tres{
    color: white;
    background-color: #EF6332;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    padding: 20px;
    width: 250px;
    line-height: 0;

}

.fundo-quatro {
    display: flex;
    justify-content: center;
    background-color: #004DA8;
}

.teste {
    background-image: url(Vector.png);
    background-repeat: no-repeat;
    background-position: center;
}

.section-cinco {
    margin-top: 0;
    background-image: url(network-chain-links-connections\ 1.png);
    height: 800px;
}

.titulo-section-seis {
    font-size: 30px;
    margin-top: 0;
    line-height: 0;
}

.texto-card-seis {
    font-size: 30px;
}

.card-cinco {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: -630px;
    margin-left: 300px;
    
}

.texto-section-seis {
    width: 600px;
}

.teste-dois {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.bt-card-cinco {
    margin-top: 0;
    padding-top: 0;
}

.card-sete {
    background-color: #1CF2DB;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto-card-sete {
    padding-left: 200px;
    font-size: 40px;

}

.legenda-sete {
    font-size: 26px;
    padding-left: 200px;
}

span {
    font-size: 20px;
    line-height: 0;
}

.foto-final {
    display: flex;
    justify-content: end;
    margin-top: 0;
}

.bt-final {
    margin-left: 200px;
    width: 128px;
    color: white;
    background-color: #003B71;
    border: none;
    padding: 10px;
    border-radius: 20px;
}

footer {
    color: black;
}

.icone-footer {
    padding: 0;
}

.lista-footer {
    list-style: none;
    text-decoration: none;
    padding: 1em;
}

.item-footer {
    color: black;
    padding: 2em;
}

li {
    padding: 5px;
}

.footer-tres {
    display: grid;
    grid-template-columns: 50% 50% 50% 50%;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

.copy {
    color: black;
    text-align: center;
    font-size: 14px;
    padding-top: 50px;

}

.copy-dois {
    font-size: 12px;
    color: black;
    text-align: center;
    padding-top: 50px;
}

@media screen and (max-device-width: 900px) {

    .botoes {
        display: none;
    }

    .menu-lista{
        display: none;
        height: 100%;
        text-align: end;
    }

    .menu-item {
        display: block;
        text-align: end;
    }

    .botao-lateral {
        display: block;
        text-align: right;
    }

    .texto-principal{
        font-size: 16px;
        padding-left: 0;

    }

    .section-principal {
        display: grid;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .img-p{
        width: 300px;
        text-align: center;
    }

    .texto-principal {
        font-size: 16px;
        text-align: center;
    }

    .section-principal {
        display: grid;
    }

    .botao-tres {
        width: 150px;
    }

    body {
        text-align: center;
    }

    .section-dois {
        display: grid;
    }


    .img-card-dois {
        width: 300px;
        text-align: center;
    }

    .section-tres {
        display: grid;
    }

    .img-card-tres {
        width: 300px;
    }

    .section-quatro {
        display: grid;
    }

    .teste {
        width: 300px;
    }

    .section-cinco {
        display: grid;
    }

    .teste-dois {
        display: none;
    }

    




    
    
}